@font-face {
    font-family: proxima-nova;
    src: url(ttf/Proxima\ Nova\ Reg.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}
body {
    font-family: proxima-nova;
    font-weight: 400;
    color: #404040;
    min-height: 100%;
    background: url(img/background-pattern.jpg) repeat scroll;
    background-size: 100px;
}

header{
    background-color: black;
    padding: 1rem;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 20% 80%;
}

header h1 {
    display:block;
    margin: 0 auto;
    text-align: center;
}

header a{
    margin: 0 auto;
}

header *{
    
    color: white;

}

.logo{
    display: flex;
    margin: 0 auto;
}

nav{
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding: 20px;
    text-align: center;
    width: 80%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul {
    list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: medium;
}

nav ul li a img{
    position: relative;
    top: 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}


#main-content {
    display: block;
    padding: 20px;
}


footer {
    background-color: black;
    color: lightgray;
    text-align: center;
    padding: 20px;
}

.section1 {
    
    padding: 3em;
    background-image: url(img/gimnesia_backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgray;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.section2 {
    
    padding: 3em;
    background-image: url(img/mythos_backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgray;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.section3 {
    
    padding: 3em;
    background-image: url(img/fallen_backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgray;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.description a h2 {
    text-decoration: none !important;
    color: aliceblue;
}

.description a h2 :hover{
    text-decoration: underline;
}

.section a{
    margin: auto auto;
}

.section img {
    max-width: 300px;
    display: flex;
    margin: 0 auto;
}

.section .description {
    text-align: center;
    margin-top: 10px;
}

a,
a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.course-info{
    width: 80%;
    margin: 0 auto;
}

.instagram{
    display: flex;
    width: 100%;
    background-color: white;
    justify-items: center;
    margin-bottom: 5%;
}

.info{
    display: flex;
    background-color: white;
    width: 100%;
    margin: 0 auto; 
    margin-bottom: 5%;
    padding: 3rem;
    justify-items: center;
    flex-direction: column;
}

@media (min-width: 960px) {


    .course-info{
        display: flex;
        column-count: 2;
    }

    .nav-collapse ul li{
        display: inline;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

    .game-list{
        margin-left: 7%;
        margin-right: 7%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

